.index{font-size:20px;margin:3% 70% 1% 10%;}
.header{font-size:30px; text-align:center;font-family: "Poetsen One", sans-serif;}
.center{text-align:center;}

form{text-align:center; font-size:15px; margin:70px auto;font-family: 'S-CoreDream-3Light';}
.textbox0 {width:250px; margin:5px auto; font-size:13px; text-align:center;border-radius: 20px; border: 1px solid #ccc; padding: 5px;font-family: 'S-CoreDream-3Light';}
.textbox {width:600px; margin:5px auto; font-size:13px; text-align:center;border-radius: 20px; border: 1px solid #ccc; padding: 5px;font-family: 'S-CoreDream-3Light';}
.textarea {width:600px; height:600px; margin:5px auto;font-size:13px;border-radius: 20px; border: 1px solid #ccc; padding: 5px;font-family: 'S-CoreDream-3Light';}


a {text-decoration-line:none;transition: color 0.3s;font-family: "Poetsen One", sans-serif;}
a:link {color:black;}
a:visited {color:black}
a:hover{color:#cc1010;}

hr{width:90%; border-bottom:0.3px solid #fff ;}

button{width:200px; height:25px; background-color:transparent; color:black; border: 1px solid black; font-size:12px; border-radius:50px; text-align:center;transition: color 0.3s; margin-right:5px;font-family: "Poetsen One", sans-serif;}
button:hover {background-color:transparent; color:#cc1010; border: 1px solid black; font-size:12px; border-radius:50px;}
.btn{width:200px; height:25px; background-color:transparent; color:black; border: 1px solid black; font-size:12px; border-radius:50px; text-align:center;transition: color 0.3s; margin-right:5px;font-family: "Poetsen One", sans-serif;}
.btn:hover {background-color:transparent; color:#0444d9; border: 1px solid black; font-size:12px; border-radius:50px;}

.container {display: flex;justify-content: center;align-items: center; height: 800px; font-size:15px;}
.padding {padding : 20px; width:800px; height:800px;  box-sizing: border-box; align-items:center; border: 1px solid #ccc; border-radius:20px; text-align:center;}


.padding0 {padding : 20px; width:750px; height:60px;  box-sizing: border-box; align-items:center;border: none; border-radius:20px; text-align:center;display: flex; justify-content: space-between; margin:0 0 10px 0;}
.padding1 {padding : 20px; width:300px; height:70px;  box-sizing: border-box; align-items:center;border: none; border-radius:20px; text-align:center;flex: 1; max-width: 350px; margin: 0 3px 0 10px;}
.padding2 {padding : 20px; width:300px; height:70px;  box-sizing: border-box; align-items:center;border: none; border-radius:20px; text-align:center;flex: 1; max-width: 350px; margin: 0 3px;}

.bm{margin:90px 0 0 0;}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}