<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>community</title>
    <link rel="stylesheet" type="text/css" href="/css/community.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="index">
    <h2><a href="/">Clapper Board</a></h2>
</div>
<div class="header">
    <h2>COMMUNITY</h2>
</div>
    <div class="center">
        <button style="color:#0444d9" type="button" onclick="communityReq()" class="btn">COMMUNITY</button>
        <button type="button" onclick="movieReq()" class="btn2">MOVIE RECOMMENDATION</button>
        <button type="button" onclick="movieRankingReq()" class="btn">MOVIE RANKINGS</button>
        <button type="button" onclick="movieReservationReq()" class="btn">MOVIE RESERVATION</button>
        <button type="button" onclick="noticeReq()" class="btn">NOTICE</button>
        <button type="button" onclick="qnaReq()" class="btn">QnA</button>
    </div>
<hr>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>WRITER</th>
        </tr>
        <tr th:each = "postDto: ${postList}">
            <td th:text = "${postDto.postId}"></td>
            <td><a class="fs" th:href = "@{|/mboard/community/${postDto.postId}|}" th:text = "${postDto.postTitle}"></a></td>
            <td th:text ="${postDto.postWriter}"></td>
        </tr>
    </table>
</div>
<hr>
<div class="center">
    <button onclick="saveReq()" class="btn1">WRITE</button>
</div>
</body>
<script>
    const communityReq = () => {
        console.log("Community button clicked");
        location.href = "/mboard/community";
    };
    const movieReq = () => {
        console.log("movie button clicked");
        location.href = "/mboard/movie";
    };
    const saveReq = () => {
        location.href = "/mboard/community/new";
    };
</script>
</html>