<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>community</title>
</head>
<body>
<div>
    <h2>COMMUNITY</h2>
</div>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>WRITER</th>
        </tr>
        <tr th:each = "postDTO: ${postList}">
            <td th:text = "${postDTO.user_id}"></td>
            <td><a th:href = "@{|/mboard/${postDTO.user_id}|}" th:text = "${postDTO.title}"></td>
            <td th:text ="${postDTO.user_name}"></td>
        </tr>
    </table>
</div>
<div>
    <button onclick="saveReq()" class="btn">WRITE</button>
    <button onclick="homeReq()" class="btn">HOME</button></div>
</body>
<script>
    const saveReq = () => {
         location.href = "/mboard/save";
  }
    const homeReq = () => {
        location.href = "/";
    }
</script>
</html>