<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>datail</title>
    <link rel="stylesheet" type="text/css" href="/css/detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="index">
    <h2><a href="/">Clapper Board</a></h2>
</div>
<div class="header">
    <h2>CONTENTS</h2>
</div>
<hr>
<div class="container">
<div class="padding">
    <div class="padding1">
    <div class="padding2">
        <b>ID</b><br>
        <span th:text="${post.user_id}"></span>
    </div>
    <div class="padding3">
        <b>USER NAME</b><br>
        <span th:text="${post.user_name}"></span>
    </div>
    </div>
<br>
    <div class="padding4">
        <b>TITLE</b><br>
        <span th:text="${post.title}"></span>
    </div>
<br>
    <div class="padding5">
        <b>CONTENT</b><br>
        <pre th:text="${post.content}"></pre>
    </div>
</div>
</div>
<div class="center">
<button onclick="listReq()" class="btn1">LIST</button>
<button onclick="updateReq()" class="btn2">UPDATE</button>
<button class="btn-open-modal">DELETE</button>
</div>

<div id="commentList">
    <table>
        <tr>
            <th>ID</th>
            <th>WRITER</th>
            <th>CONTENTS</th>
        </tr>
        <tr th:each="comment:${commentList}">
            <td th:text="${commentList.c_id}"></td>
            <td th:text="${commentList.c_writer}"></td>
            <td th:text="${commentList.c_content}"></td>
        </tr>
    </table>
</div>

<div>
    <input type="text" id="c_writer" placeholder="WRITER">
    <input type="text" id="c_content" placeholder="CONTENT">
    <button id="comment-write-btn" onclick="commentWrite()">SAVE</button>
</div>


<div class="modal">
    <div class="modal_body">
        <h2> 비밀번호를 입력해 주세요.</h2><br>
        <input type="password" name="password" id="user_pass" class="textbox0" oninput="removeWhitespace2(this)">
        <p>※ 한번 삭제된 게시글은 되돌릴 수 없습니다 ※</p>
        <button  class="btn4" onclick="cancelReq()">CANCEL</button>
        <button class="btn3" onclick="return deleteReq()">DELETE</button>
    </div>
</div>

</body>
<script th:inline="javascript">

    const listReq = () => {
        console.log("목록 요청");
        location.href = "/mboard/community";
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = [[${post.user_id}]];
        location.href = "/mboard/community/update/" + id;
    }
    const cancelReq = () => {
        console.log("취소 요청");
        location.href = "/mboard/community";
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${post.user_id}]];
        const pass = /*[[${post.user_pass}]]*/;
        const inputPass = document.getElementById("user_pass").value;
        if (pass !== inputPass) {
            alert("비밀번호가 일치하지 않습니다.");
            return false;
            } else {
                return  location.href = "/mboard/community/delete/" + id;
            }
        }

    const modal = document.querySelector('.modal');
    const btnOpenModal=document.querySelector('.btn-open-modal');

    btnOpenModal.addEventListener("click", ()=>{
        modal.style.display="flex";
    });

    function removeWhitespace2(input) {
        input.value = input.value.trim();
    }

    const commentWrite = () => {
    const writer = document.getElementById('c_writer').value;
    const content = document.getElementById('c_content').value;
    }
</script>
</html>