<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>datail</title>
    <link rel="stylesheet" type="text/css" href="/css/detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="index">
    <h2><a href="/">Clapper Board</a></h2>
</div>
<div class="header">
    <h2>CONTENTS</h2>
</div>
<hr>
<div class="container">
<div class="padding">
    <div class="padding1">
    <div class="padding2">
        <b>ID</b><br>
        <span th:text="${post.postId}"></span>
    </div>
    <div class="padding3">
        <b>Writer</b><br>
        <span th:text="${post.postWriter}"></span>
    </div>
    </div>
<br>
    <div class="padding4">
        <b>TITLE</b><br>
        <span th:text="${post.postTitle}"></span>
    </div>
<br>
    <div class="padding5">
        <b>CONTENT</b><br>
        <pre th:text="${post.postContent}"></pre>
    </div>
</div>
</div>
<div class="center">
    <button onclick="listReq()" class="btn1">LIST</button>
    <button onclick="updateReq()" class="btn2">UPDATE</button>
    <button class="btn-open-modal">DELETE</button>
</div>
<div class="header1">
    <h4>COMMENTS</h4>
</div>
<div class="container2">
    <ul class="padding8">
        <li th:if="${commentList.isEmpty()}">
            <p class="p3">※ 작성된 댓글이 존재하지 않습니다 ※</p>
        </li>
        <li th:each="comment:${commentList}" th:if="${comment.parentCommentId} == 0">
            <span th:text="${comment.commentId}" class="span1"></span>
            <span th:text="${comment.commentWriter}" ></span>
            <span><button class="cbtn" onclick="openReply(this)">REPLY</button>
                <input type="hidden" class="commentId" th:value="${comment.commentId}">
            </span>
            <span><button class="cbtn" onclick="openModal(this)">EDIT</button>
                <input type="hidden" class="commentId" th:value="${comment.commentId}">
                <input type="hidden" id="storedPassword" name="storedPassword" th:value="${comment.commentPass}">
                <input type="hidden" class="commentWriter" th:value="${comment.commentWriter}">
                <input type="hidden" class="commentContent" th:value="${comment.commentContent}">
            </span>
            <br>
            <span th:text="${comment.commentContent}" class="span1 span2"></span>
            <br>
            <hr>
            <ul th:each="reply : ${commentList}" th:if="${reply.parentCommentId} == ${comment.commentId}">
                <li>
                    <span th:text="${reply.commentId}" class="span1"></span>
                    <span th:text="${reply.commentWriter}"></span>
                        <input type="hidden" class="commentId" th:value="${reply.commentId}">
                    </span>
                    <span><button class="cbtn" onclick="openModal(this)">EDIT</button>
                        <input type="hidden" class="commentId" th:value="${reply.commentId}">
                        <input type="hidden" class="commentWriter" th:value="${reply.commentWriter}">
                        <input type="hidden" class="commentContent" th:value="${reply.commentContent}">
                    </span>
                    <br>
                    <p class="p2">@[[${comment.commentWriter}]] <span th:text="${reply.commentContent}" class="span2 span3"></span></p>
                    <hr>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="bottom">
    <form action="/mboard/community/${post.postId}" method="post">
        <input type="hidden" name="postId" th:value="${post.postId}">
        <div class="container1">
        <div class="padding9">
            <div class="padding7">
                <input type="text" name="commentWriter" placeholder="Writer"  class="textbox1" required oninput="removeWhitespace(this)" >
                <input type="password" name="commentPass" placeholder="Pass"  class="textbox1" required oninput="removeWhitespace2(this)">
                <input class="btn" type="submit" value="SAVE">
            </div>
            <textarea type="text" name="commentContent" placeholder="Content" class="textarea"  required oninput="removeWhitespace(this)"></textarea>
        </div>
        </div>
    </form>
</div>

<div class="modal" id="modal">
    <div class="modal_body">
        <h2> 비밀번호를 입력해 주세요.</h2><br>
        <input type="password" name="password" id="postPass" class="textbox0" oninput="removeWhitespace2(this)">
        <p class="p1">※ 한번 삭제된 게시글은 되돌릴 수 없습니다 ※</p>
        <button  class="btn4" onclick="closeModal()">CANCEL</button>
        <button class="btn3" onclick="return deleteReq()">DELETE</button>
    </div>
</div>

<div id="commentModal" class="modal">
    <div class="modal2_body">
        <h2>EDIT</h2><br>
        <form th:action="@{/mboard/community/comment/update}" method="post" >
            <div class="container1">
                <div class="padding6">
                    <div class="padding7">
                        <input type="hidden" name="postId" th:value="${post.postId}">
                        <input type="hidden" id="commentId" name="commentId">
                        <input type="text" id="commentWriter" name="commentWriter" class="textbox1" readonly oninput="removeWhitespace(this)" >
                        <input type="password" id="inputPassword"  name="commentPass" placeholder="Pass"  class="textbox1" required oninput="removeWhitespace2(this)">
                        <input class="btn" type="submit" value="UPDATE" onclick="return updateComment()">
                    </div>
                    <textarea type="text" id="commentContent" name="commentContent"  class="textarea" required oninput="removeWhitespace(this)"></textarea>
                </div>
            </div>
        </form>
        <button class="btn" onclick="closeCommentModal()">CANCEL</button>
        <button class="btn" onclick="commentDeleteReq()">DELETE</button>
        <p class="p1">※ 한번 삭제된 댓글은 되돌릴 수 없습니다 ※</p>
    </div>
</div>


<div id="replyModal" class="modal">
    <div class="modal2_body">
        <h2>REPLY</h2><br>
        <form action="/mboard/community/comment/reply/${post.postId}" method="post" >
            <div class="container1">
                <div class="padding6">
                    <div class="padding7">
                        <input type="hidden" name="postId" th:value="${post.postId}">
                        <input type="hidden" id="parentCommentId" name="parentCommentId">
                        <input type="text" name="commentWriter" placeholder="Writer"  class="textbox1" required oninput="removeWhitespace(this)" >
                        <input type="password" name="commentPass" placeholder="Pass"  class="textbox1" required oninput="removeWhitespace2(this)">
                        <input class="btn" type="submit" value="SAVE">
                    </div>
                    <textarea type="text" name="commentContent" placeholder="Content" class="textarea"  required oninput="removeWhitespace(this)"></textarea>
                </div>
            </div>
        </form>
        <button class="btn" onclick="closeReplyModal()">CANCEL</button>
    </div>
</div>

</body>
<script th:inline="javascript">

    const listReq = () => {
        console.log("목록 요청");
        location.href = "/mboard/community";
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = [[${post.postId}]];
        location.href = "/mboard/community/update/" + id;
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${post.postId}]];
        const pass = /*[[${post.postPass}]]*/;
        const inputPass = document.getElementById("postPass").value;
        if (pass !== inputPass) {
            alert("비밀번호가 일치하지 않습니다.");
            return false;
            } else {
                return  location.href = "/mboard/community/delete/" + id;
            }
    }

    const modal = document.querySelector('.modal');
    const btnOpenModal=document.querySelector('.btn-open-modal');

    btnOpenModal.addEventListener("click", ()=>{
        modal.style.display="flex";
    });

    function closeModal() {
      var modal = document.getElementById('modal');
      modal.style.display = 'none';
    }

    function removeWhitespace2(input) {
        input.value = input.value.trim();
    }

    const removeWhitespace = (element) => {
        if (element.value.trim() === "") {
            element.value = "";
            alert("공백 입력은 불가 합니다. 내용을 입력해 주세요.");
        }
    };

    function openModal(button) {
        var modal = document.getElementById("commentModal");
        modal.style.display = "flex";

        var commentId = button.parentNode.querySelector('.commentId').value;
        var writer = button.parentNode.querySelector('.commentWriter').value;
        var content = button.parentNode.querySelector('.commentContent').value;

        document.getElementById("commentId").value = commentId;
        document.getElementById("commentWriter").value = writer;
        document.getElementById("commentContent").value = content;
    }

    function closeCommentModal() {
        var modal = document.getElementById('commentModal');
        modal.style.display = 'none';
    }

    function openReply(button) {
        var modal = document.getElementById("replyModal");
        modal.style.display = "flex";

        var commentId = button.parentNode.querySelector('.commentId').value;
        document.getElementById("parentCommentId").value = commentId;
    }

    function closeReplyModal() {
        var modal = document.getElementById('replyModal');
        modal.style.display = 'none';
    }

     const updateComment = () => {
        var storedPassword = document.getElementById("storedPassword").value;
        var inputPassword = document.getElementById("inputPassword").value;
        if (storedPassword !== inputPassword) {
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        } else {
           return true;
        }
    }

    const commentDeleteReq = () => {
        var storedPassword = document.getElementById("storedPassword").value;
        var inputPassword = document.getElementById("inputPassword").value;
        if (storedPassword !== inputPassword) {
            alert("비밀번호가 일치하지 않습니다.");
            return false;
        } else {
            var commentId = document.getElementById("commentId").value;
            location.href = "/mboard/community/comment/delete/" + commentId;
        }
    }

</script>
</html>