<!DOCTYPE html>
<html lang="en" xmlns:background-image="http://www.w3.org/1999/xhtml" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="left">
    <h2 class="header"><b>Clapper</b></h2>
    <h2 class="header2"><b>Board</b></h2>

</div>
<div class="right">
    <div class="center">
        <button type="button" onclick="communityReq()" class="btn">COMMUNITY</button><br>
        <button type="button" onclick="movieReq()" class="btn">MOVIE RECOMMENDATION</button><br>
        <button type="button" onclick="movieRankingReq()" class="button">MOVIE RANKINGS</button><br>
        <button type="button" onclick="movieReservationReq()" class="button">MOVIE RESERVATION</button><br>
        <button type="button" onclick="noticeReq()" class="button">NOTICE</button><br>
        <button type="button" onclick="qnaReq()" class="button">QnA</button><br>
    </div>
</div>
</div>
</body>
<script>
    const communityReq = () => {
          console.log("Community button clicked");
          location.href = "/mboard/community";
       };
    const movieReq = () => {
          console.log("movie button clicked");
          location.href = "/mboard/movie";
       };

</script>
</html>