<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>mdetail</title>
    <link rel="stylesheet" type="text/css" href="/css/mdetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="index">
    <h2><a href="/">Clapper Board</a></h2>
</div>
<div class="header">
    <h2>CONTENTS</h2>
</div>
<hr>
<div class="um"></div>
<div class="container">
<div class="padding">
    <div class="padding1">
        <div class="padding2">
        <b>ID</b><br>
        <span th:text="${movie.m_id}"></span>
        </div>
        <div class="padding3">
        <b>WRITER</b><br>
        <span th:text="${movie.m_writer}"></span>
        </div>
    </div>
    <br>
        <div class="padding6">
        <b>MOVIE POSTER</b><br>
        </div>
<br>
    <div class="padding1">
        <div class="padding3">
        <b>MOVIE TITLE</b><br>
        <span th:text="${movie.m_title}"></span>
        </div>
        <div class="padding2">
        <b>YEAR OF RELEASE</b><br>
        <span th:text="${movie.m_yor}"></span>
        </div>
    </div>
<br>
    <div class="padding1">
        <div class="padding4">
        <b>DIRECTOR</b><br>
        <span th:text="${movie.m_director}"></span>
        </div>
        <div class="padding4">
        <b>ACTOR</b><br>
        <span th:text="${movie.m_actor}"></span>
        </div>
    </div>
<br>
    <div class="padding1">
        <div class="padding4">
        <b>GENRE</b><br>
        <span th:text="${movie.m_genre}"></span>
        </div>
        <div class="padding4">
        <b>RATING</b><br>
        <span th:text="${movie.m_rating}" id="ratingStars" ></span>
        </div>
    </div>
<br>
    <div class="padding5">
        <b>CONTENT</b><br>
        <pre th:text="${movie.m_content}"></pre>
    </div>
</div>
</div>
<div class="bm"></div>
<div class="center">
<button onclick="listReq()" class="btn1">LIST</button>
<button onclick="updateReq()" class="btn2">UPDATE</button>
<button onclick="deleteReq()">DELETE</button>
</div>
<div class="bm2"></div>
</body>
<script>

    const rating = parseInt("[[${movie.m_rating}]]");
    let stars = "";
    for (let i = 0; i < rating; i++) {
        stars += "★";
    }
    document.getElementById("ratingStars").innerText = stars;

    const listReq = () => {
        console.log("목록 요청");
        location.href = "/mboard/movie";
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = [[${movie.m_id}]];
        location.href = "/mboard/movie/update/" + id;
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${movie.m_id}]];
        location.href = "/mboard/movie/delete/" + id;
    }

</script>
</html>