<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>movie</title>
</head>
<body>
<div>
    <h2>MOVIE RECOMMENDATION</h2>
</div>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>MOVIE TITLE</th>
            <th>WRITER</th>
        </tr>
        <tr th:each = "movieDto: ${movieList}">
            <td th:text = "${movieDto.m_id}"></td>
            <td><a th:href = "@{|/mboard/movie/${movieDto.m_id}|}" th:text = "${movieDto.m_title}"></a></td>
            <td th:text ="${movieDto.m_writer}"></td>
        </tr>
    </table>
</div>
<div>
    <button onclick="saveReq()" class="btn">WRITE</button>
    <button onclick="homeReq()" class="btn">HOME</button></div>
</body>
<script>
    const saveReq = () => {
         location.href = "/mboard/movie/save";
  }
    const homeReq = () => {
        location.href = "/";
    }
</script>
</html>