<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>movie</title>
    <link rel="stylesheet" type="text/css" href="/css/movie.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="index">
    <h2><a href="/">Clapper Board</a></h2>
</div>
<div class="header">
    <h2>MOVIE RECOMMENDATION</h2>
</div>
<div class="center">
    <button style="color:#cc1010" type="button" onclick="communityReq()" class="btn">COMMUNITY</button>
    <button type="button" onclick="movieReq()" class="btn">MOVIE RECOMMENDATION</button>
    <button type="button" onclick="movieRankingReq()" class="btn">MOVIE RANKINGS</button>
    <button type="button" onclick="movieReservationReq()" class="btn">MOVIE RESERVATION</button>
    <button type="button" onclick="noticeReq()" class="btn">NOTICE</button>
    <button type="button" onclick="qnaReq()" class="btn">QnA</button>
</div>
<hr>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>MOVIE TITLE</th>
            <th>WRITER</th>
        </tr>
        <tr th:each = "movieDto: ${movieList}">
            <td th:text = "${movieDto.m_id}"></td>
            <td><a th:href = "@{|/mboard/movie/${movieDto.m_id}|}" th:text = "${movieDto.m_title}"></a></td>
            <td th:text ="${movieDto.m_writer}"></td>
        </tr>
    </table>
</div>
<hr>
<div class="center">
    <button onclick="saveReq()" class="btn1">WRITE</button>
</body>
<script>
    const saveReq = () => {
         location.href = "/mboard/movie/save";
  }
</script>
</html>