<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>movie_save</title>
    <link rel="stylesheet" type="text/css" href="/css/msave.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>
<div class ="index">
    <h2><a href="/">Clapper Board</a></h2>
</div>
<div class ="header">
    <h2>WRITE</h2>
</div>
<hr>
<br>
<br>
<br>
<br>
<form action="/mboard/movie/save" method="post" enctype="multipart/form-data" onsubmit="return validateGenre();">
    <div class="container">
        <div class="padding">
            <div class="padding3">
                <div class="padding1">
                <b>Writer</b><br>
                <input type="text" name="m_writer" class="textbox0" required oninput="removeWhitespace(this)"> <br>
                </div>
                <div class="padding2">
                <b>Pass</b><br>
                <input type="password" name="m_pass" class="textbox0" required oninput="removeWhitespace2(this)"> <br>
                </div>
            </div>
            <div class="padding3">
                <div>
                <b>Movie Poster</b><br>
                <label for="file" class="filebox">SELECT FILE</label>
                <input type="file" name ="m_poster" accept="image/jpeg, image/jpg, image/png" id="file"><br>
                </div>
                <div>
                <b>Movie Title</b><br>
                <input type="text" name = "m_title" class="textbox" required oninput="removeWhitespace(this)"> <br>
                </div>
                <div>
                <b>Movie Year of release</b><br>
                    <select name="m_yor" id="yearSelect" required></select> <br>
                </div>
            </div>
            <div class="padding3">
                <div class="padding1">
                <b>Movie Director</b><br>
                <input type="text" name="m_director" class="textbox0" required oninput="removeWhitespace(this)"> <br>
                </div>
                <div class="padding2">
                <b>Movie Actor</b><br>
                <input type="text" name="m_actor" class="textbox0" required oninput="removeWhitespace(this)"> <br>
                </div>
            </div>
            <br>
            <b>Movie Genre</b><br>
            <div class="padding4">
                <label><input type="checkbox" id="action" name="m_genre" value="액션"> 액션</label>
                <label><input type="checkbox" id="adventure" name="m_genre" value="모험"> 모험</label>
                <label><input type="checkbox" id="animation" name="m_genre" value="애니메이션"> 애니메이션</label>
                <label><input type="checkbox" id="comedy" name="m_genre" value="코미디"> 코미디</label>
                <label><input type="checkbox" id="crime" name="m_genre" value="범죄"> 범죄</label>
                <label><input type="checkbox" id="documentary" name="m_genre" value="다큐"> 다큐</label>
                <label><input type="checkbox" id="drama" name="m_genre" value="드라마"> 드라마</label>
                <label><input type="checkbox" id="family" name="m_genre" value="가족"> 가족</label>
                <label><input type="checkbox" id="fantasy" name="m_genre" value="판타지"> 판타지</label>
                <label><input type="checkbox" id="noir" name="m_genre" value="누와르"> 누와르</label> <br>
                <label><input type="checkbox" id="history" name="m_genre" value="역사"> 역사</label>
                <label><input type="checkbox" id="horror" name="m_genre" value="공포"> 공포</label>
                <label><input type="checkbox" id="thriller" name="m_genre" value="스릴러"> 스릴러</label>
                <label><input type="checkbox" id="musical" name="m_genre" value="뮤지컬"> 뮤지컬</label>
                <label><input type="checkbox" id="mystery" name="m_genre" value="미스터리"> 미스터리</label>
                <label><input type="checkbox" id="romantic" name="m_genre" value="로맨스"> 로맨스</label>
                <label><input type="checkbox" id="scientific" name="m_genre" value="과학"> 과학</label>
                <label><input type="checkbox" id="sports" name="m_genre" value="스포츠"> 스포츠</label>
                <label><input type="checkbox" id="war" name="m_genre" value="전쟁"> 전쟁</label>
                <label><input type="checkbox" id="etc" name="m_genre" value="기타"> 기타</label> <br>
            </div>
            <div class="padding7">
                <div class="padding8">
            <b>Movie Spoiler</b><br>
            <div class="padding6">
                <input type="radio" id="true" name="m_spo" value="true" required>
                <label for="true" title="Spoiler_O">O</label>
                <input type="radio" id="false" name="m_spo" value="false" >
                <label for="false" title="Spoiler_X">X</label>
            </div>
                </div>
                <div class="padding9">
            <b>Movie Rating</b><br>
            <div class="padding5">
                    <input type="radio" id="star5" name="m_rating" value="5" required>
                    <label for="star5" title="5 stars">★★★★★</label>
                    <input type="radio" id="star4" name="m_rating" value="4">
                    <label for="star4" title="4 stars">★★★★</label>
                    <input type="radio" id="star3" name="m_rating" value="3">
                    <label for="star3" title="3 stars">★★★</label>
                    <input type="radio" id="star2" name="m_rating" value="2">
                    <label for="star2" title="2 stars">★★</label>
                    <input type="radio" id="star1" name="m_rating" value="1">
                    <label for="star1" title="1 star">★</label> <br>
            </div>
            </div>
            </div>
            <br>
            <b>Movie Content</b><br>
            <textarea type="text" wrap="hard" name="m_content" class="textarea" required oninput="removeWhitespace(this)"></textarea>
        </div>
    </div>
    <div class="bm">
        <div class="center">
    <button type="button" onclick="cancelReq()" class="button">CANCEL</button>
    <input class="btn" type="submit" value="SAVE">
        </div>
    </div>
</form>
</body>
<script>
    var currentYear = new Date().getFullYear();
    var selectElement = document.getElementById('yearSelect');
    for (var Year = currentYear; Year >= 1900; Year--) {
        var option = document.createElement('option');
        option.value = Year;
        option.textContent = Year + "년";
        selectElement.appendChild(option);
    }

    function validateGenre() {
        var checkboxes = document.getElementsByName('m_genre');
        var checkedCount = 0;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkedCount++;
                if (checkedCount > 4) {
                    alert('장르는 최대 4개 선택할 수 있습니다.');
                    checkboxes[i].checked = false;
                    return false;
                }
            }
        }
        if (checkedCount === 0) {
            alert('장르를 선택해 주세요.');
            return false;
        }
        return true;
    }

    const removeWhitespace = (element) => {
        if (element.value.trim() === "") {
            element.value = "";
            alert("공백 입력은 불가 합니다. 내용을 입력해 주세요.");
        }
    };

    function removeWhitespace2(input) {
        input.value = input.value.trim();
    }


    const cancelReq = () => {
        console.log("Cancel button clicked");
        location.href = "/mboard/movie";
    };
</script>
</html>